@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  }
label {
  font-size: 1rem;
}
input.form-control, input.form-control:focus {
  background: #F0F0FF;
}
.error {
  position: absolute;
  color: red;
  font-size: 0.7rem;
}

.App {
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.error {
  position: absolute;
  color: red;
  font-size: 0.7rem
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */