.register {
    border: 2px solid rgb(116, 70, 70);
    display: inline-block;
    margin-top: 10%;
    height: 500px;
    box-shadow: 2px 2px 2px 4px grey;
    border-radius: 25px;
}

.register input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}