.login input[type=text],
input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* border-radius: 50px; */
}

.LoginHeading {
    margin-top: 30px;
}

.login {
    border: 2px solid rgb(116, 70, 70);
    display: inline-block;
    margin-top: 10%;
    height: 400px;
    box-shadow: 2px 2px 2px 4px grey;
    border-radius: 25px;
    width: fit-content;
}

// button {
//     background-color: gray;
//     color: white;
//     padding: 14px 20px;
//     margin: 8px 0;
//     border: none;
//     cursor: pointer;
//     width: 40%;
//     border-radius: 25px;
// }

button:hover {
    opacity: 0.8;
    background-color: crimson;
    color: white;
}

a.Register:hover {
    text-decoration: underline;
    opacity: 0.8;
    cursor: pointer;
}